<h1>VM GUI</h1>
<div id="noVNC_container" style="width: 800px; height: 600px;"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/noVNC/1.3.0/noVNC.min.js"></script>
<script>
  const rfb = new RFB(document.getElementById('noVNC_container'), 'ws://<YOUR_WEBSOCKET_PROXY>');

  rfb.viewOnly = false;
  rfb.scaleViewport = true;
  rfb.resizeSession = true;
</script>