<%
range_left = showcase_pct(mean - stddev, min, max)
range_width = showcase_pct(mean + stddev, min, max) - range_left
%>
<div class="spread" aria-hidden="true">
  <div class="spread-track"></div>
  <div class="spread-range" style="left: <%= range_left %>%; width: <%= range_width %>%;"></div>
  <div class="spread-tick" style="left: 0%;"></div>
  <div class="spread-tick" style="left: 100%;"></div>
  <div class="spread-mean" style="left: <%= showcase_pct(mean, min, max) %>%;"></div>
</div>
