<!-- app/views/home/index.html.erb -->
<div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Linux Bench Hub</h1>
    <p class="lead">This is a simple app to manage and compare Linux benchmarks.</p>
    <hr class="my-4">
    <p>Use the navigation bar to explore reports and benchmarks.</p>
  </div>
  <div id="app"></div>
</div>
<%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>